/* ---------- restart de estilos  */
body {
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto Mono', monospace;
}
a {
  text-decoration: none;
  display: inline;
  color: #000;
}
/* ---------------------  header  */
header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.header-icons-container{
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
.header-icons-container .icons{
  width: 250px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items:center ;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span{
  color: #fff;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container{
  margin-left: 50px;
}
nav .nav-logo-container  img{
  width: 220px;
  margin-top: 10px;
}
nav .profile-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: #000;
  border-bottom: 1px solid #000;
}
/* ------------------- main section  */





/* ---------------footer  */
footer {
  width: 100%;
  height: auto;
}
footer .footer-container{
  display: grid;
  grid-template-rows: 3fr 5fr;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
/* -----------------main blog section  */
.main-blog{
  width: 100%;
  height: auto;
}
.blog-principal-container{
  background-color: #e6e9ed;
  display: grid;
  grid-template: auto 1fr / 3fr 2fr;
  grid-template-areas:  "title-section title-section"
                        "image-article article";
  padding: 5% 5%;
  padding-top: 0%;
  padding-bottom: 2%;
}
#text-main-blog-section{
  grid-area: title-section;
  height: auto;
  font-size: 25px;
}
.main-blog-image{
  grid-area: image-article;
  width: 100%;
}
.main-blog-image img{
  width: 100%;
}
#main-article{
  padding-top: 6%;
  padding-left: 16% ;
}
#main-article .principal-blog-title{
  font-weight: 900;
  font-size: 50px;
  margin: 0%;
}
.principal-blog-text{
  font-size: 20px;
}
.main-article-button{
  font-size: inherit;
  width: 80px;
  padding: 10px 15px;
  margin-top: 50px;
  border: 1px solid #47cfac;
}
/*------------------------- blogs  */
.division-blogpost-section{
  font-size: 35px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #e6e9ed;
  width: 87.5%;
}
.blog-article-container{
  width: auto;
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  /* padding-left: 5%; */
  /* padding-right: 72px; */
  padding: 0% 5% 3%;
  grid-gap: 50px;
}
.blog-article-image-container{
  width: 100%;
}
.blog-article-image{
  width: 100%;
}
.blog-article-content{
  padding: 0;
  padding-top: 0;
}
.blog-article-content h3{
  font-size: 30px;
  margin: 15px 0;
}
.blog-article-content p{
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}
.blog-article-content a{
  border: 2.25px solid #47cfac;
  padding: 2% 5%;
  cursor: pointer;
}

/* ----------------------- footer  */
footer .pre-footer{
  width: 100%;
  height: 100%;
  background-color: #47cfac;
  }
.footer-container .footer-text {
  width: 100%;
  justify-self: center;
  text-align: center;
  color: #fff;
  background-color: black;
}
