/* ---------- restart de estilos  */
body{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto Mono', monospace;
}
.main-body-sticky {
  padding: 0%;
  margin: 0%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  font-family: 'Roboto Mono', monospace;
}
a {
  text-decoration: none;
  display: inline;
  color: #000;
}
/* ---------------------  header  */
header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.header-icons-container{
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
.header-icons-container .icons{
  width: 250px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items:center ;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span{
  color: #fff;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container{
  margin-left: 50px;
}
nav .nav-logo-container  img{
  width: 220px;
  margin-top: 10px;
}
nav .profile-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: #000;
  border-bottom: 1px solid #000;
}
/* ------------------- main section  */
.home-main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100%;
  height: 80vh;
  background-image: url('../recursos/Imágenes/Cover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-main section{
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.home-main-title{
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.home-main .main-button{
  padding: 13px 18px;
  font-weight: 700;
  font-size: 20px;
  background-color: #47cfac;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

/* ---------------footer  */
footer {
  width: 100%;
  height: auto;
}
footer .footer-container{
  display: grid;
  grid-template-rows: 3fr 5fr;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
/* -----------------main blog section  */


/* ----------------------- footer  */
footer .pre-footer{
  width: 100%;
  height: 100%;
  background-color: #47cfac;
  }
.footer-container .footer-text {
  width: 100%;
  justify-self: center;
  text-align: center;
  color: #fff;
  background-color: black;
}

/* ---------------- principal blog  */
.blog-image-container{
  width: 70%;
  margin: 2% auto;
}
.blog-image-container img{
  width: 100%;
}
.blogpost-article-container{
  display: grid;
  width: 50%;
  grid-template-columns: 1fr;
  margin: 0% auto;
  justify-self: center;
}
.blogpost-article-container h3{
  border-bottom: 1px solid #c2c2c2;
  font-size: 25px;
}
.blogpost-article-container h1{
  font-size: 45px;
  margin: 0 0 1%;
}
.blogpost-article-container p{
  font-size: 20px;
}
/* ----------------- contact  */
.contact-section-container{
  display: grid;
  width: auto;
  /* padding: 5% 5%; */
  margin-top: 4%;
  grid-template-columns: 1fr 1fr;
  background-color: #e6e9ed
  ;
  padding: 3% 4%;
}
.contact-container{
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 2%;
}
.contact-image-container{
  width: 40%;
}
.contact-image-container img{
  width: 100%;
}
.contact-content{
  width: auto;
  margin-left: 30px;
  margin-bottom: 0;
  align-self: flex-end;
}
.contact-content a{
  font-size: 25px;
  font-weight: 500;
}
.contact-content a:hover{
  text-decoration: underline;
}
.contact-content p{
  margin-bottom: 0;
  font-size: 20px;
}
 /* ---------- profile section  */
 main {
   background-color: #e6e9ed;
   display: flex;
   justify-content: center;
   align-items: center;
   /* justify-content: space-around; */
  padding: 2%;
 }
 .profile-image-container {
   width: 500px;
   margin-left: 4%;
 }
 .profile-image-container img {
   width: 500px;
   margin: 0%;
 }
 .profile-content {
   width: 55%;
   margin: 0 auto;
 }
 .profile-content h2 {
  font-size: 45px;
  margin: 0%;
 }
 .profile-content p {
   font-size: 22px;
 }
 /* ------------- project section  */
.div-project {
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 20px;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0 auto;
  grid-gap: 5%;
}
