/* ---------- restart de estilos  */
body {
  padding: 0%;
  margin: 0%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  display: inline;
  color: #000;
}
/* ---------------------  header  */
header{
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.header-icons-container{
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}
.header-icons-container .icons{
  width: 250px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items:center ;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .icons span{
  color: #fff;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container{
  margin-left: 50px;
}
nav .nav-logo-container  img{
  width: 220px;
  margin-top: 10px;
}
nav .profile-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: #000;
  border-bottom: 1px solid #000;
}
/* ------------------- main section  */
.main-container{
  margin: 0 ;
  color: #fff;
  height: 100vh;
  width: 100vw;
  background-image: url('../recursos/Imágenes/Cover.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-container h1{
  width: 380px;
  height: 100px;
  margin: 70px auto;
  /* margin-bottom: 10px; */
  text-align: center;
  font-size: 35px;
}
.main-container button{
  display: flex;
  justify-self: center;
  margin: 0 auto;
  padding: 13px 18px;
  font-weight: 700;
  font-size: 20px;
  background-color: #47cfac;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}